.item {
    margin: 5px;
    text-align: center;
    color: rgb(250, 250, 240);
    font-size: 1.5em;
    border-radius: 20px;


}

.item2 {
    border-radius: 20px;
    margin: 5px;
    text-align: center;
    font-size: 1.5em;
    background-color: grey;


}


.grid {
    display: grid;
}



.grid-template {
    grid-template:
        "header header header" 120px
        "section section section" 90px
        "section section section" 150px
        "section section section" 200px
        "footer footer footer" 120px
        / 1fr 3fr 1fr
}

.grid-template2 {
    grid-template:
        "header" 50px
        "article" 200px
        "footer" 50px
}


.header {
    grid-area: header;
    text-align: left;
    padding-left: 300px;
    padding-top: 50px;
    color: black;
}

body {
    background: #0056b3 !important;
}


.barra-topo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: pink;
    padding: 10px 0;
    text-align: center;
}

.barra-topo button {
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.barra-topo button:hover {
    background-color: #ddd;
}

.conteudo {
    margin-top: 50px;
    padding: 20px;
}

.img_topo img {
    width: 100px;
    max-width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-top: 5px;
    left: 0;
    top: 0;
    position: absolute;
}


.section {
    grid-area: section;
    text-align: left;
    color: black;
    height: 500px;

}

.section-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    position: absolute;
    right: 250px;
    top: 100px;
}

.textarea {
    resize: none;
}


.file-label {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-label:hover {
    background-color: #0056b3;
}

.input-file {
    display: none;
}



.upload-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

